img {
	width: 300px;
	height: 106px;
	margin: 0px;
	padding: 0px;
	padding: 0px;
}

.Inicio {
	font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
	color: #1c1e21;
	font-size: 24px;
	line-height: 28px;
	margin-top: 170px;
	margin-left: 170px;
	display: inline-block;
}

.Texto {
	font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
	width: 500px;
	font-weight: normal;
	font-size: 28px;
	line-height: 32px;
	padding: 0px;
	margin: 0px;
}

.contenedor {
	display: inline-block;
	padding: 10px;
	width: 380px;
	height: 370px;
	border-radius: 8px;
    box-shadow: 0 5px 20px 20px rgb(0 0 0 / 10%), 0 20px 20px rgb(0 0 0 / 10%);
	vertical-align: top;
	margin-top: 120px;
	margin-left: 100px;
}

.input {
	margin: 10px;
	width: 330px;
	height: 50px;
	border: 1px solid #dddfe2;
	border-radius: 6px;
}

.input[placeholder="Correo Electronico o número de teléfono"] {
	font-size: 17px;
	padding: 10px 15px;
}

.input[placeholder="Contraseña"] {
	font-size: 17px;
	padding: 10px 15px;
}

.div-boton {
	text-align: center;
}

.boton {
	background-color: #1877f2;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
    width: 332px;
	color: white;
}

.div-contraseña {
	text-align: center;
	padding: 10px;
}

.contraseña {
	font-family: inherit;
	font-size: 17px;
	font-weight: 500;
	text-decoration: none;
	color: #385898;
    cursor: pointer;
	
}

.div-nueva {
	text-align: center;
	padding-top: 6px;
	font-family: inherit;
}

.nueva {
	border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 48px;
    padding: 0 16px;
	display: inline-block;
	background-color: #42b72a;
	width: 200px;
	height: 50px;
	color: white;
	text-decoration: none;
}

.div-linea {
	align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.div-media__contenedor {
	display: none;
}

@media only screen and (max-width: 800px){
	.div-inicio {
		display: none;
	}

	.div-media__contenedor {
		display: block;
	}

    img {
		margin-left: 60px;
	}

	.contenedor-media {
		margin-left: 0px;
		margin-top: 50px;
		display: block;
	}

	.input {
		width: 370px;
	}

	.input[placeholder="Correo Electronico o número de teléfono"]{
		font-size: 20px;
	}

	.input[placeholder="Contraseña"]{
		font-size: 20px;
	}

	.div-boton{
		text-align: center;
		margin-left: 40px;
	}
     
    .div-linea {
		margin-left: 80px;
	}

	.contraseña{
		margin-left: 80px;
	}

	.nueva {
		margin-left: 80px;
		margin-top: 10px;
	}
}
