*{
	font-family: 'Oswald', sans-serif;
}

.nav__responsive-ul{
	display: none;
}

.nav__ul{
	margin: 0px;
	padding: 0px;
}

.nav{
	background-color: #36373a;
    position: fixed;
    width: 100%;
    font-size: 14px;
}

.nav__li{
	display: inline-block;
	color: white;
    padding: 6px;
}

.nav__li i {
	border: solid 1px white;
    border-radius: 3px;
    padding: 10px;
    font-size: 15px;
}

.nav__li:hover > a{
	color: grey;
}

.nav__li:hover {
	color: grey;
}

.nav__li a{
	color: white;
	text-decoration: none;
}

.nav__li i{
	box-sizing: border-box;
	text-align: center;
	margin-right: 5px;
}

.nav__responsive-ul{
	margin: 0px;
	padding: 0px;
	text-align: left;
	height: 37px;
}

.nav__responsive-buttom-container{
    position: absolute;
   	width: 100%;
	font-size: 25px;
	background-color: #36373a;
	margin-top: -64px;
	z-index: 100;
}

.nav__responsive-buttom{
	padding: 6px 20px;
    font-size: 20px;
    background-color: #36373a;
}

.h1-movile {
    color: red;
    display: inline;
    font-size: 20px;
}

.header {
    background-color: #003366;
    color: #fff;
    padding: 1rem;
    box-shadow: 3px 3px 10px 0 #000;
    padding-top: 45px;
}

h1 a{
    color: red;
    text-decoration: none;
}

h2 {
    color: #003366;
}

p {
    font-size: 20px;
}

main {
    padding: 20px;
}

.Castimotors {
    color: white;
    text-decoration: none;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

section {
    padding: 2rem;
}

form {
    display: grid;
    grid-gap: 1rem;
    max-width: 400px;
    margin: auto;
    padding-top: 20px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}
  
.Caja1 {
    display: inline-block;
    margin: 10px;
    box-sizing: border-box;;
}

.Cajas img {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 3%;
}

.Img {
    height: 400px;
    width: 100%;
    background-image: url(fondo.webp);
    background-size: cover; /* La propiedad CSS background-size especifica el tamaño de las imágenes de fondo */
    background-attachment: fixed; /* background-attachment determina si la posición de la imagen de fondo será fija dentro de la pantalla o se desplazará con su bloque contenedor */
}

.Frase{
    padding-top: 20px;
    font-size: 33px;
    color: red;
}

footer {
    background-color: #36373a;
    color: white; /* Color gris */
    text-align: center; /* Centrar el texto */
    padding: 10px; /* Añadir espacio alrededor del texto */
}

/* 
##Device = Tablets, Ipads (portrait)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) { 
    .nav__ul{
		display: none;
	}

    .header{
        display: none;
    }

	.nav__responsive-ul{
		display: flex;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: calc(100vh - 64px);
		background-color: #36373a;
		transition: all 1s;
		z-index: 1;
		width: 100%;
		padding-top: 27px;
	}

    .menu{
        color: white;
    }

    .menu div{
        padding: 10px;
    }

    .Info{
        font-size: 14px;
        background-color: #0E1A8A;
        width: 500px;
        margin-top: 141px;
        padding: 5px;
        width: 100%;
    }

    .Info i {
        color: white;
        border: solid 1px white;
        border-radius: 3px;
        padding: 10px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .Info a{
        padding: 10px;
    }

    .facebook{
        display: inline-block;
        margin-left: 15px;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .mobile{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .cita{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .nav__li-container.visible {
        top: -27px;
    }

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

    h1 a{
        color: red;
        text-decoration: none;
    }
}
  

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/
  
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .nav__ul{
		display: none;
	}

    .header{
        display: none;
    }

	.nav__responsive-ul{
		display: flex;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: calc(100vh - 64px);
		background-color: #36373a;
		transition: all 1s;
		z-index: 1;
		width: 100%;
		padding-top: 27px;
	}

    .menu{
        color: white;
    }

    .menu div{
        padding: 10px;
    }

    .Info{
        font-size: 14px;
        background-color: #0E1A8A;
        width: 500px;
        margin-top: 141px;
        padding: 5px;
        width: 100%;
    }

    .Info i {
        color: white;
        border: solid 1px white;
        border-radius: 3px;
        padding: 10px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .Info a{
        padding: 10px;
    }

    .facebook{
        display: inline-block;
        margin-left: 15px;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .mobile{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .cita{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .nav__li-container.visible {
        top: -27px;
    }

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

    h1 a{
        color: red;
        text-decoration: none;
    }
}
  
  /* 
    ##Device = Low Resolution Tablets, Mobiles (Landscape)
    ##Screen = B/w 481px to 767px
  */
  
@media (min-width: 481px) and (max-width: 767px) {
    .nav__ul{
		display: none;
	}

    .header{
        display: none;
    }

	.nav__responsive-ul{
		display: flex;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: calc(100vh - 64px);
		background-color: #36373a;
		transition: all 1s;
		z-index: 1;
		width: 100%;
		padding-top: 27px;
	}

    .menu{
        color: white;
    }

    .menu div{
        padding: 10px;
    }

    .Info{
        font-size: 14px;
        background-color: #0E1A8A;
        width: 500px;
        margin-top: 141px;
        padding: 5px;
        width: 100%;
    }

    .Info i {
        color: white;
        border: solid 1px white;
        border-radius: 3px;
        padding: 10px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .Info a{
        padding: 10px;
    }

    .facebook{
        display: inline-block;
        margin-left: 15px;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .mobile{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .cita{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .nav__li-container.visible {
        top: -27px;
    }

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

    h1 a{
        color: red;
        text-decoration: none;
    }
}
  
  /* 
    ##Device = Most of the Smartphones Mobiles (Portrait)
    ##Screen = B/w 320px to 479px
  */
  
@media (min-width: 320px) and (max-width: 480px) {
    .nav__ul{
		display: none;
	}

    .header{
        display: none;
    }

	.nav__responsive-ul{
		display: flex;
		position: absolute;
		width: 100%;
		margin-top: 37px;
		padding-top: 27px;
	}

    .nav__li-container{
		position: relative;
		top: -1000px;
		height: 630px;
		background-color: #36373a;
		transition: all 1s;
		z-index: 1;
		width: 100%;
		padding-top: 27px;
	}

    .menu{
        color: white;
    }

    .menu div{
        padding: 10px;
    }

    .Info{
        font-size: 12px;
        background-color: #0E1A8A;
        width: 500px;
        margin-top: 220px;
        padding: 5px;
    }

    .Info i {
        color: white;
        border: solid 1px white;
        border-radius: 3px;
        padding: 10px;
        padding-top: 10px;
        box-sizing: border-box;
    }

    .Info a{
        padding: 10px;
    }

    .facebook{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .mobile{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .cita{
        display: inline-block;
        color: white;
        padding: 10px;
        padding-top: 10px;
	}

    .nav__li-container.visible {
        top: -27px;
    }

    .nav__responsive_li{
		width: 100%;
		padding: 9px 20px;
	}

    .nav {
		height: 37px;
		width: 100%;
	}

    h1 a{
        color: red;
        text-decoration: none;
    }
}
