* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

body {
    background-color:#000;
    color: #fff;
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}

h1 {
    color: white;
    margin-top: 50px;
    font-size: 45px;
}

h2 {
    margin-left: 70px;
}


.login{
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 70px;
    padding: 20px;
    background-color: rgb(8, 125, 8, 0.4);
    border-radius: 3%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.url-movile {
    display: none;
}

.credenciales {
    font-size: 20px;
    margin-top: 20px;
}

#desktopUsername {
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 20px;
}

#desktopPassword {
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 20px;
}

#mobileUsername {
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 20px;
}

#mobilePassword {
    color: black;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 20px;
}

button {
    color: white;
    font-size: 15px;
    margin-left: 65px;
    width: 50%;
    height: 100%;
    padding: 5px 10px;
    background: rgba(255,255,255,.2);
    border: none;
    border-radius: 20px;
}

#desktopMessage {
    margin-top: 20px;
    margin-left: 60px;
}


@media screen and (min-width: 320px) AND (max-width: 480px) {

    h1 {
        margin-left: 30px;
        font-size: 45px;
    }
}


@media screen and (min-width: 360px) AND (max-width: 640px) {

    h1 {
        margin-left: 30px;
        font-size: 45px;
    }
}


@media screen and (min-width: 320px) AND (max-width: 600px) {

    h1 {
        font-size: 45px;
        margin-left: 30px;
    }

    .login{
        display: none;
    }

    h2 {
        display: none;
    }

    .url-h2 {
        display: block;
        margin-left: 50px;
    }

    .url-movile{
        display: block;
        margin-top: 50px;
        margin-left: 40px;
        margin-right: 30px;
        padding: 20px;
        background-color: rgb(8, 125, 8, 0.4);
        border-radius: 3%;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    button {
        color: white;
        font-size: 15px;
        margin-left: 50px;
        width: 50%;
        height: 100%;
        padding: 5px 10px;
        background: rgba(255,255,255,.2);
        border: none;
        border-radius: 20px;
    }

    #desktopMessage {
        margin-top: 20px;
        margin-left: 60px;
    }
    
    #mobileMessage {
        margin-top: 20px;
        margin-left: 45px;
    }
}


@media screen and (min-width: 400px) AND (max-width: 650px) {

    h1 {
        font-size: 45px;
        margin-left: 30px;
    }

    .login{
        display: none;
    }

    h2 {
        display: none;
    }

    .url-h2 {
        display: block;
        margin-left: 80px;
    }

    .url-movile{
        display: block;
        margin-top: 70px;
        margin-left: 50px;
        margin-right: 50px;
        padding: 20px;
        background-color: rgb(8, 125, 8, 0.4);
        border-radius: 3%;
    }
   
    button {
        color: white;
        font-size: 15px;
        margin-left: 65px;
        width: 50%;
        height: 100%;
        padding: 5px 10px;
        background: rgba(255,255,255,.2);
        border: none;
        border-radius: 20px;
    }

    #desktopMessage {
        margin-top: 20px;
        margin-left: 60px;
    }
    
    #mobileMessage {
        margin-top: 20px;
    }
}


@media screen and (min-width: 650px) AND (max-width: 800px) {

    h1 {
        margin-left: 30px;
        font-size: 45px;
    }
}



@media screen and (min-width: 800px) AND (max-width: 1200px) {

    h1 {
        margin-left: 30px;
        font-size: 45px;
    }
}