* {
	font-family: 'Oswald', sans-serif;
}

body {
	margin: 0px;
	padding: 0px;
	background-image: url(dinos.png);
}

.movile-container {
	display: none;
}

.menu {
	width: 98.78vw;
	height: 95px;
	background: rgb(45, 45, 120);
	opacity: 90%;
	display: flex;
	box-shadow: 3px 3px 10px 0 #000;
}

.documentos {
	font-size: 30px;
	color: white;
	margin: 30px;
	margin-left: 360px;
}


.container {
	margin-top: 40px;
	display: flex;
}

.facebook {
	margin-left: 100px;
	border-radius: 3px;
	border: solid 1px white;
	font-size: 15px;
	height: 35px;
	display: inline-block;
}

.github {
	margin-top: 30px;
	margin-left: 10px;
	border-radius: 3px;
	border: solid 1px white;
	font-size: 15px;
	height: 35px;
	display: inline-block;
}

.github i {
	color: white;
	padding: 10px;
	padding-top: 10px;
}

.github li {
	display: block;
}

.facebook i {
    color: white;
    padding: 10px;
    padding-top: 10px;
}

.facebook li {
	display: block;
}

.contenedor-cajas {
	height: 70vh;
    width: 12vw;
    padding: 7px;
    position: fixed;
    background: rgb(15, 15, 20);
    opacity: 90%;
    overflow-y: auto;
    overflow-x: auto;
    box-shadow: 3px 5px 10px 0 #000;
}

.caja4 {
	font-size: 19px;
	padding: 15px;
}

.icono1 {
	color: white;
	display: inline-flex;
	padding: 5px;
	font-size: 30px;
}


.icono {
	color: white;
	display: inline-flex;
	padding: 5px;
	font-size: 23px;
}

.zip {
	display: flex;
}

.zip-contenedor {
	margin-left: 200px;
	margin-top: 50px;
	height: 380px;
	padding: 20px;
	border-radius: 3%;
	border: 7px solid RGB(80, 195, 200);
	background: rgb(250, 0, 80);
	opacity: 90%;
}

.zip-contenedor2 {
	margin-left: 40px;
	margin-top: 50px;
	height: 380px;
	padding: 20px;
	border-radius: 3%;
	border: 7px solid RGB(80, 195, 200);
	background: rgb(250, 0, 80);
	opacity: 90%;
}

.zip-contenedor4 {
	margin-left: 200px;
	margin-top: 50px;
	height: 380px;
	padding: 20px;
	border-radius: 3%;
	border: 7px solid RGB(80, 195, 200);
	background: rgb(250, 0, 80);
	opacity: 90%;
}

.zip-contenedor5 {
	margin-left: 40px;
	margin-top: 50px;
	height: 380px;
	padding: 20px;
	border-radius: 3%;
	border: 7px solid RGB(80, 195, 200);
	background: rgb(250, 0, 80);
	opacity: 90%;
}


.img {
	border-radius: 3%;
}

.a1{
	color: white;
    text-decoration: none;
}


.a2{
	color: white;
    text-decoration: none;
    font-size: 30px;
}


.caja {
	margin-left: 40px;
}

.caja i {
	margin-left: 30px;
	color: white;
}

.texto {
	margin-left: 100px;
	font-size: 30px;
	color: white;
}



@media screen and (min-width: 320px) AND (max-width: 480px) {

	.container-first {
		display: none;
	}

	.movile-container {
		display: block;
	}

	.movile {
		display: flex;
		height: 50px;
		opacity: 90%;
		color: white;
	   background: rgb(45, 45, 120);
}

	.documentos-movile {
		margin-left: 120px;
	}

	.icono-movile {
		padding: 5px;
		font-size: 20px;
	}

	.redes-movile {
		display: flex;
		margin-top: 10px;
	}

	.facebook-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   display: block;
	   height: 25px;
	   width: 25px;
    }

    .facebook-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px;
    }

    .facebook-movile li {
	   display: block;
    }

    .github-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   height: 25px;
	   display: block;
	   width: 25px;
    }

    .github-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px; 
    }

    .github-movile li {
	   display: block;
    }

    .buscador i {
    	color: white;
    	font-size: 25px;
    	padding: 9px;
    }

     .container-movile {
     	background: rgb(15, 15, 20);
     	opacity: 90%;
     	box-shadow: 3px 3px 10px 0 #000;
    }

    .cajas-movile {
    	display: flex;
    	width: 100vw;
    	overflow-x: auto;
    }

    .caja-movile {
    	margin: 20px;
    }

    .zip-movile {
    	margin-top: 20px;
    	background: rgb(250, 0, 80);
    	border: 7px solid RGB(80, 195, 200);
    	width: 260px;
    	height: 45vh;
    	margin-left: 50px;
    	opacity: 90%;
    	border-radius: 3%;
    }


    .caja {
    	margin-left: 25px;
   }

   .caja i {
	   margin-left: 30px;
	   color: white;
   }

   .texto-movile {
	   margin-left: 80px;
	   font-size: 30px;
	   color: white;
   }

    .img-movile {
    	margin: 30px;
    	border-radius: 3%;
    }
}



@media screen and (min-width: 360px) AND (max-width: 640px) {

	.container-first {
		display: none;
	}

	.movile-container {
		display: block;
	}

	.movile {
		display: flex;
		height: 50px;
		opacity: 90%;
		color: white;
	   background: rgb(45, 45, 120);
}

	.documentos-movile {
		margin-left: 120px;
	}

	.icono-movile {
		padding: 5px;
		font-size: 20px;
	}

	.redes-movile {
		display: flex;
		margin-top: 10px;
	}

	.facebook-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   display: block;
	   height: 25px;
	   width: 25px;
    }

    .facebook-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px;
    }

    .facebook-movile li {
	   display: block;
    }

    .github-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   height: 25px;
	   display: block;
	   width: 25px;
    }

    .github-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px; 
    }

    .github-movile li {
	   display: block;
    }

    .buscador i {
    	color: white;
    	font-size: 25px;
    	padding: 9px;
    }

     .container-movile {
     	background: rgb(15, 15, 20);
     	opacity: 90%;
     	box-shadow: 3px 3px 10px 0 #000;
    }

    .cajas-movile {
    	display: flex;
    	width: 100vw;
    	overflow-x: auto;
    }

    .caja-movile {
    	margin: 20px;
    }

    .zip-movile {
    	margin-top: 20px;
    	background: rgb(250, 0, 80);
    	border: 7px solid RGB(80, 195, 200);
    	width: 260px;
    	height: 45vh;
    	margin-left: 50px;
    	opacity: 90%;
    	border-radius: 3%;
    }


    .caja {
    	margin-left: 25px;
   }

   .caja i {
	   margin-left: 30px;
	   color: white;
   }

   .texto-movile {
	   margin-left: 80px;
	   font-size: 30px;
	   color: white;
   }

    .img-movile {
    	margin: 30px;
    	border-radius: 3%;
    }
}


@media screen and (min-width: 320px) AND (max-width: 600px) {

	.container-first {
		display: none;
	}

	.movile-container {
		display: block;
	}

	.movile {
		display: flex;
		height: 50px;
		opacity: 90%;
		color: white;
	   background: rgb(45, 45, 120);
}

	.documentos-movile {
		margin-left: 60px;
	}

	.icono-movile {
		padding: 5px;
		font-size: 20px;
	}

	.redes-movile {
		display: flex;
		margin-top: 10px;
	}

	.facebook-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   display: block;
	   height: 25px;
	   width: 25px;
    }

    .facebook-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px;
    }

    .facebook-movile li {
	   display: block;
    }

    .github-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   height: 25px;
	   display: block;
	   width: 25px;
    }

    .github-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px; 
    }

    .github-movile li {
	   display: block;
    }

    .buscador i {
    	color: white;
    	font-size: 25px;
    	padding: 9px;
    }

     .container-movile {
     	background: rgb(15, 15, 20);
     	opacity: 90%;
     	box-shadow: 3px 3px 10px 0 #000;
     	margin-top: px;
    }

    .cajas-movile {
    	display: flex;
    	width: 100vw;
    	overflow-x: auto;
    }

    .caja-movile {
    	margin: 20px;
    }

    .zip-movile {
    	margin-top: 20px;
    	background: rgb(250, 0, 80);
    	border: 7px solid RGB(80, 195, 200);
    	width: 260px;
    	height: 57vh;
    	margin-left: 40px;
    	opacity: 90%;
    	border-radius: 3%;
    }


    .caja {
    	margin-left: 25px;
   }

   .caja i {
	   margin-left: 30px;
	   color: white;
   }

   .texto-movile {
	   margin-left: 80px;
	   font-size: 30px;
	   color: white;
   }

    .img-movile {
    	margin: 30px;
    	border-radius: 3%;
    }
}



@media screen and (min-width: 400px) AND (max-width: 650px) {

	.container-first {
		display: none;
	}

	.movile-container {
		display: block;
	}

	.movile {
		display: flex;
		height: 50px;
		opacity: 90%;
		color: white;
	   background: rgb(45, 45, 120);
}

	.documentos-movile {
		margin-left: 120px;
	}

	.icono-movile {
		padding: 5px;
		font-size: 20px;
	}

	.redes-movile {
		display: flex;
		margin-top: 10px;
	}

	.facebook-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   display: block;
	   height: 25px;
	   width: 25px;
    }

    .facebook-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px;
    }

    .facebook-movile li {
	   display: block;
    }

    .github-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   height: 25px;
	   display: block;
	   width: 25px;
    }

    .github-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px; 
    }

    .github-movile li {
	   display: block;
    }

    .buscador i {
    	color: white;
    	font-size: 25px;
    	padding: 9px;
    }

     .container-movile {
     	background: rgb(15, 15, 20);
     	opacity: 90%;
     	box-shadow: 3px 3px 10px 0 #000;
    }

    .cajas-movile {
    	display: flex;
    	width: 100vw;
    	overflow-x: auto;
    }

    .caja-movile {
    	margin: 20px;
    }

    .zip-movile {
    	margin-top: 20px;
    	background: rgb(250, 0, 80);
    	border: 7px solid RGB(80, 195, 200);
    	width: 260px;
    	height: 50vh;
    	margin-left: 125px;
    	opacity: 90%;
    	border-radius: 3%;
    }


    .caja {
    	margin-left: 25px;
   }

   .caja i {
	   margin-left: 30px;
	   color: white;
   }

   .texto-movile {
	   margin-left: 80px;
	   font-size: 30px;
	   color: white;
   }

    .img-movile {
    	margin: 30px;
    	border-radius: 3%;
    }
}


@media screen and (min-width: 650px) AND (max-width: 800px) {

	.container-first {
		display: none;
	}

	.movile-container {
		display: block;
	}

	.movile {
		display: flex;
		height: 50px;
		opacity: 90%;
		color: white;
	   background: rgb(45, 45, 120);
}

	.documentos-movile {
		margin-left: 450px;
	}

	.icono-movile {
		padding: 5px;
		font-size: 20px;
	}

	.redes-movile {
		display: flex;
		margin-top: 10px;
	}

	.facebook-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   display: block;
	   height: 25px;
	   width: 25px;
    }

    .facebook-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px;
    }

    .facebook-movile li {
	   display: block;
    }

    .github-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   height: 25px;
	   display: block;
	   width: 25px;
    }

    .github-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px; 
    }

    .github-movile li {
	   display: block;
    }

    .buscador i {
    	color: white;
    	font-size: 25px;
    	padding: 9px;
    }

     .container-movile {
     	background: rgb(15, 15, 20);
     	opacity: 90%;
     	box-shadow: 3px 3px 10px 0 #000;
    }

    .cajas-movile {
    	display: flex;
    	width: 100vw;
    	overflow-x: auto;
    }

    .caja-movile {
    	margin: 20px;
    }

    .zip-movile {
    	margin-top: 20px;
    	background: rgb(250, 0, 80);
    	border: 7px solid RGB(80, 195, 200);
    	width: 260px;
    	height: 37vh;
    	margin-left: 65px;
    	opacity: 90%;
    	border-radius: 3%;
    	display: inline-block;
    }


    .caja {
    	margin-left: 25px;
   }

   .caja i {
	   margin-left: 30px;
	   color: white;
   }

   .texto-movile {
	   margin-left: 80px;
	   font-size: 30px;
	   color: white;
   }

    .img-movile {
    	margin: 30px;
    	border-radius: 3%;
    }
}



@media screen and (min-width: 800px) AND (max-width: 1200px) {

	.container-first {
		display: none;
	}

	.movile-container {
		display: block;
	}

	.movile {
		display: flex;
		height: 50px;
		opacity: 90%;
		color: white;
	   background: rgb(45, 45, 120);
}

	.documentos-movile {
		margin-left: 120px;
	}

	.icono-movile {
		padding: 5px;
		font-size: 20px;
	}

	.redes-movile {
		display: flex;
		margin-top: 10px;
	}

	.facebook-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   display: block;
	   height: 25px;
	   width: 25px;
    }

    .facebook-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px;
    }

    .facebook-movile li {
	   display: block;
    }

    .github-movile {
	   margin-left: 10px;
	   border-radius: 3px;
	   border: solid 1px white;
	   font-size: 15px;
	   height: 25px;
	   display: block;
	   width: 25px;
    }

    .github-movile i {
       color: white;
       padding: 6px;
       padding-top: 5px; 
    }

    .github-movile li {
	   display: block;
    }

    .buscador i {
    	color: white;
    	font-size: 25px;
    	padding: 9px;
    }

     .container-movile {
     	background: rgb(15, 15, 20);
     	opacity: 90%;
     	box-shadow: 3px 3px 10px 0 #000;
    }

    .cajas-movile {
    	display: flex;
    	width: 100vw;
    	overflow-x: auto;
    }

    .caja-movile {
    	margin: 20px;
    }

    .zip-movile {
    	margin-top: 20px;
    	background: rgb(250, 0, 80);
    	border: 7px solid RGB(80, 195, 200);
    	width: 260px;
    	height: 28vh;
    	margin-left: 50px;
    	opacity: 90%;
    	border-radius: 3%;
    	display: inline-block;
    }


    .caja {
    	margin-left: 25px;
   }

   .caja i {
	   margin-left: 30px;
	   color: white;
   }

   .texto-movile {
	   margin-left: 80px;
	   font-size: 30px;
	   color: white;
   }

    .img-movile {
    	margin: 30px;
    	border-radius: 3%;
    }
}

@media screen and (min-width: 1200px) {}

